{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // overrides
  }
}